/* Reset body margin */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Center the container */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(220, 15%, 55%);
}
/* Style the QR code container */
.qr-code-container {
  text-align: center;
  background-color: #ffffff; /* Change background color if needed */
  padding: 5px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 300px;
}

/* Style the image */
.qr-code img {
  max-width: 90%;
  display: block;
  margin: 0 auto; /* Center the image within the div */
  border-radius: 10px;
}
/* Style the title */
.qr-code-info__title {
  font-size: 18px;
  margin: 20px 0 10px;
  color: #333; /* Text color */
}

/* Style the description */
.qr-code-info__description {
  font-size: 15px;
  color: #666; /* Text color */
  margin: 0; /* Remove default margins */
}
